:root {
	--primary: #3880ff;
	--primary-contrast: #ffffff;
	--primary-shade: #3171e0;
	--primary-tint: #4c8dff;

	--secondary: #ef682e;
	--secondary-contrast: #000000;
	--secondary-shade: #d25c28;
	--secondary-tint: #f17743;

	--tertiary: #5260ff;
	--tertiary-contrast: #ffffff;
	--tertiary-shade: #4854e0;
	--tertiary-tint: #6370ff;

	--success: #2dd36f;
	--success-contrast: #000000;
	--success-shade: #28ba62;
	--success-tint: #42d77d;

	--warning: #ffc409;
	--warning-contrast: #000000;
	--warning-shade: #e0ac08;
	--warning-tint: #ffca22;

	--danger: #eb445a;
	--danger-contrast: #ffffff;
	--danger-shade: #cf3c4f;
	--danger-tint: #ed576b;
    
    --black: #383838;
	--black-shade: #313131;
	--black-tint: #4c4c4c;

	--medium: #92949c;
	--medium-contrast: #000000;
	--medium-shade: #808289;
	--medium-tint: #9d9fa6;

	--light: #f4f5f8;
	--light-contrast: #000000;
	--light-shade: #d7d8da;
	--light-tint: #f5f6f9;

}

* {
    padding: 0;
    margin: 0;
    position: relative;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Leaflet Setting*/
#mapid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.leaflet-control-zoom {
    display: none;
}

/*Main Contents*/


/*
Layout
*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    max-width: 380px;
    margin: 10px 10px 0 10px;
    z-index: 1;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    z-index: 2;
}


/*
Tags
*/
.tags {
    padding: 10px 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#tag-more {
    display: none;
    flex-wrap: wrap;
}
#tag-more.--open {
    display: flex;
}

.tag {
    display: inline-block;
    background-color: var(--primary-shade);
    color: var(--light);
    text-decoration: none;
    margin: 0 5px 5px 0;
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 0.8rem;
    box-shadow: 0 0 10px var(--black);
}
.tag.--light {
    background-color: var(--light);
    color: var(--medium);
}
.tag i {
    font-size: 0.8rem;
}

/*
Cards
*/
#card-contents {
    transform: translateX(275px);
    transition: 0.3s ease;
    overflow-y: auto;
}
#card-contents.--open {
    transform: translateX(0px);
    transition: 0.3s ease;
}

#cards-opener {
    display: flex;
    align-items: center;
}
#cards-opener .--icon {
    padding: 20px 0px 20px 5px;
    background-color: var(--light);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
#cards-opener i {
    color: var(--black);
}

.cards {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: var(--light);
}
.cards > h2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 21px;
    color: var(--black-tint);
}
.cards > h2:first-of-type {
    margin-top: 5px;
}
.cards > h2 i {
    margin-right: 10px;
}
.cards > h2 i.gg-bolt::before {
    border-bottom-color: var(--danger);
}
.cards > h2 i.gg-bolt::after {
    border-top-color: var(--danger-shade);
}
.cards > h2 i.gg-corner-right-up::before {
    border-color: var(--danger-shade);
}
.cards > h2 i.gg-corner-right-up::after {
    border-color: var(--danger-shade);
}

.card {
    width: calc(100% - 40px);
    height: 130px;
    margin: 10px 10px 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--medium);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease;
}
.card:hover {
    box-shadow: 0 0 7px var(--primary);
    margin: 10px 7px 0 7px;
    width: calc(100% - 34px);
    transition: 0.1s ease;
}
.card-tags {
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.card-tags::-webkit-scrollbar {
    display: none;
}
.card-tag {
    display: inline-block;
    background-color: var(--primary-shade);
    color: var(--light);
    text-decoration: none;
    margin: 0 5px 5px 0;
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 0.8rem;
}
.card-tag.--success {
    background-color: var(--success-shade);
}
.card h2 {
    flex: auto;
    font-size: 1.1rem;
    color: var(--black);
}
.card span {
    flex: 1;
    display: flex;
}
.card span i {
    margin-right: 10px;
}

/*
Form
*/
input,
input:focus {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    color: var(--black);
}

input[type=text] {
    width: calc(100% - 30px);
    background-color: var(--light);
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--black);
}

.grp-input-btn {
    position: relative;
}

.grp-input-btn button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: var(--light);
    color: var(--primary-shade);
    padding: 15px 0 15px 10px;
    cursor: pointer;
}